<section class="modal wizard active modal-open" ng-form="bulkDeleteForm" id="delete-events-status-modal" style="display: block;" ng-controller="BulkDeleteCtrl">
  <header>
    <a ng-click="close()" class="fa fa-times close-modal"></a>
    <h2 translate="BULK_ACTIONS.DELETE.EVENTS.CAPTION"><!-- Delete Events --></h2>
  </header>

  <nav id="modal-nav" class="step-by-step">
    <a ng-click="navigateTo('deleteForm', currentForm, [])" ng-class="{ active: currentForm === 'deleteForm'}">{{ 'BULK_ACTIONS.DELETE.EVENTS.DELETE_EVENTS' | translate }}</a>
    <a ng-click="navigateTo('retractForm', currentForm, [])" ng-class="{ active: currentForm === 'retractForm', 'not-complete': !valid()}">{{ 'BULK_ACTIONS.DELETE.EVENTS.RETRACT_EVENTS' | translate }}</a>
    <a ng-click="navigateTo('summaryForm', currentForm, [retractForm])" ng-class="{ active: currentForm === 'summaryForm'}">{{ 'EVENTS.RETRACT.SUMMARY' | translate }}</a>
  </nav>

  <nav id="breadcrumb"></nav>

  <div class="modal-content" ng-class="{active: currentForm === 'deleteForm'}" ng-if="currentForm === 'deleteForm'">

    <div class="modal-body">

      <div class="full-col">
        <div class="list-obj" ng-form="deleteForm">
          <div class="modal-alert danger obj" ng-if="events.unpublished.has">
            <p translate="BULK_ACTIONS.DELETE_EVENTS_WARNING_LINE1">
            <!-- You have chosen to delete an event. Once deleted all metadata,
              audio and video will be deleted and can not be retrieved. -->
            </p>
            <p translate="BULK_ACTIONS.DELETE_EVENTS_WARNING_LINE2">
            <!-- By pressing delete you understand that these files are unrecoverable. -->
            </p>
          </div>
          <div ng-show="bulkDeleteForm.deleteForm.$error.schedulingAuthorized" class="alert sticky warning">
            <p translate="BULK_ACTIONS.DELETE.EVENTS.UNAUTHORIZED">
            <!-- Unauthorized -->
            </p>
          </div>


          <div class="full-col" ng-if="events.unpublished.has">
            <div class="obj">
              <header translate="BULK_ACTIONS.DELETE.EVENTS.DELETE_EVENTS">
                <!-- Delete Events -->
              </header>
              <table class="main-tbl">
                <thead>
                  <tr>
                    <th class="small"><input type="checkbox" ng-model="unpublished.allSelected" ng-change="unpublished.allSelectedChanged()" class="select-all-cbox"/></th>
                    <th translate="EVENTS.EVENTS.TABLE.TITLE"><!-- Title --></th>
                    <th translate="EVENTS.EVENTS.TABLE.PRESENTERS"><!-- Presenter --></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="row in unpublished.rows" ng-form="rowsForm" ng-class="{error: rowsForm.selection.$error.schedulingAuthorized}">
                    <td><input name="selection" type="checkbox" ng-model="row.selected" scheduling-authorized="{{row}}" ng-change="unpublished.rowSelectionChanged($index)" class="child-cbox"/></td>
                    <td>{{ row.title }}</td>
                    <td>
                      <span class="metadata-entry" ng-repeat="presenter in row.presenters">{{ presenter }}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- obj -->
          </div><!-- full-col -->

          <div class="full-col obj" ng-if="!events.unpublished.has">
            <p translate="BULK_ACTIONS.DELETE.EVENTS.UNPUBLISHED.NONE">
            <!-- None of the selected events can be deleted without leaving orphan files. -->
            </p>
          </div>

        </div><!-- deleteForm-->
      </div><!-- full-col-->

    </div><!-- modal-body -->

  </div><!-- modal-content [deleteForm] -->
  <footer>
    <a ng-click="submit()" data-modal-tab="next" class="danger" ng-class="{active: valid(), inactive: !valid(), disabled: submitButton}">
      {{ 'WIZARD.DELETE' | translate }}
    </a>
    <a ng-click="navigateTo('retractForm', currentForm, [])"
       data-modal-tab="previous" translate="WIZARD.BACK" class="cancel">
    </a>
  </footer>

  <div class="btm-spacer"></div>
</section>
